html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../images/ironThrone.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  flex: 1 0 auto;
  width: 75%;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% repeat(6, 1fr);
  background-color: #00000030;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 3em;
}

.timer {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  font-size: 2.5em;
}

.question {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  font-size: 2.25em;
}

img {
  width: 75%;
  height: auto;
  border-radius: 15px;
}

.image {
  grid-column: 1 / 4;
  grid-row: 4 /8;
  z-index: 1;
  justify-content: center;
}

.btnDiv {
  grid-column: 1 / 4;
  grid-row: 4 /7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  flex: 1;
  margin: 0.25em auto;
  font-size: 2em;
  min-width: 50%;
  border-radius: 5px;
}
